table.ing_table
{
	border-radius: 8px;
	text-align: center;
	width: 75%;
}

table.ing_table tbody tr td
{
	border-radius: 8px;
}

table.ing_table tbody tr:nth-child(odd)
{
	background-color: #ff9944;
}

table.ing_table tbody tr:nth-child(even)
{
	background-color: #ee9955;
}

table.ing_table tbody tr td input[type=number]
{
	border-radius: 8px;
	width: 4em;
}

.locked
{
	pointer-events: disabled;
	opacity: 0.4;
}

.beername
{
	width: 75%;
	height: 24px;
	text-align: center;
	display: inline-block;
	border-style: solid;
	background-color: #808080;
	color: #ee9944;
	font-weight: bold;
	border-radius: 8px;
}

.mask
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ee9955;
	opacity: 0.8;
}

.popup
{
	margin: auto;
	width: 50%;
	border: 1px solid;
	padding: 10px;
	border-radius: 8px;
	background-color: #ff9944;
	opacity: 2;
}
