.main_content
{
	margin: 0px 128px 0px 128px;
	width: 75%
}
.title
{
	font-size: 32;
	width: 100%;
	background-color: #aa9933;
	border-radius: 8px;
}
.subtitle
{
	font-size: 24;
}
table tr td
{
	border: 1px;
	border-style: solid;
}
.nav
{
	position: fixed;
	right: 40px;
	border-radius: 8px;
}
.nav a,a:visited,a:active
{
	font-size: 32px;
	color: #ccdd66;
}
.nav a:hover
{
	color: #aa9933;
}
.nav table
{
	border: 1px;
	border-style: solid;
}
.nav td
{
	border: 0px;
	background-color: #aaffaa;
	border-radius: 8px;
}
